html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
    scroll-padding-top:50px;
}
.header{
    background-color: rgb(17, 17, 90);
    height:50px;
    width:100%;
    padding-top:10px;
    display:flex;
    position:fixed;
    top:0;
    align-items: center;
    justify-content: space-between; 
}
.logo{
    margin-left:100px;
    height:25px;
    width:100px;
    object-fit: cover;
}
.logo img{
    width:100%;
    height:100%;
}
.nav ul li{
    list-style-type:none;
    /* display:flex; */
    display: inline-block;
    margin-right:50px;
} 
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
    color:white;
}
.nav ul li a::after{
    content: " ";
    width:0;
    height:2px;
    background-color: white;
    display:block;
    transition: 0.5s;
    margin:auto;
    border-radius:25%
}
.nav ul li a:hover::after{
    width:100%;
}
.container1{
    margin-top:175px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left:70px;
    margin-right:50px;
}
.text{
    height: 500px;
    width: 500px;
}
.picture{
    height: 500px;
    width: 600px;
    object-fit: cover;
}
.picture img{
    height: 90%;
    width: 100%;
}
.name{
    padding-top:20px;
    padding-bottom:30px;
    font-weight: bold;
    font-size: 50px;
    color:rgb(17, 17, 90);
}
.major{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
}
.para{
    font-size:20px;
    margin-bottom:20px;
}
.icon{
    
    margin:15px;
    margin-left:0px;
}
.fa-facebook{
    color:black;
    font-size: 40px;
    padding-right:25px;
}
.fa-instagram{
    color:black;
    font-size: 40px;
    padding-right:25px;
}
.fa-github{
    color:black;
    font-size: 40px;
    padding-right:25px;
}
.fa-tiktok{
    color:black;
    font-size: 40px;
    padding-right:25px;
}
.button{
    display: flex;
    margin:15px;
    margin-left:20px;
}
.button a{
    padding:15px;
    padding-left:20px;
    padding-right:20px;
    margin-right:20px;
    font-size:20px;
    text-decoration:none;
    color:white;
    background-color: rgb(17, 17, 90);
    border-radius: 55px;
}
.container2{
    margin:110px;
    margin-left:200px;
    margin-right:200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.pic2{
    height: 500px;
    width: 500px;
    border:3px solid rgb(159, 127, 216);
    border-radius:50%;
    object-fit: cover;
}
.pic2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.text2{
    height: 500px;
    width: 500px;
    margin-right:50px;
    margin-top:20px;
}
.title{
    text-align: center;
    font-size:40px;
    font-weight:bold;
}
.stitle{
    font-size:25px;
    margin:20px;
}
.para1{
    font-size:20px;
    margin:20px;
    margin-top:30px;
    margin-bottom:30px;
}
.container3{
    margin:140px;
    margin-bottom:50px;
}
.box{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sbox{
    height: 350px;
    width: 400px;
    margin:20px;
    border-radius:10%;
    background-color:rgb(24, 6, 90);
}
.title1{
    margin:25px;
    text-align: center;
    font-size:30px;
    color: white
}
.para2{
    padding:30px;
    color:white;
    text-align: center;
    font-size:20px;
}
.skill1{
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    height: 150px;
    width: 150px;
    border-radius:50%;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
}
.skill img{
    height: 100%;
    width: 100%;
}
.achievement{
    margin:100px;
}
.describiton{
    display:flex;
    align-items: center;
    justify-content: center;
}
.sd{
    height: 300px;
    width:400px;
    background-color:rgb(17, 17, 90);
    margin:75px;
    border-radius: 10%;
}
.foot{
    margin-top:100px;
    margin-bottom:15px;
    
}
#ficon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:50px;
}
#footw{
    text-align: center;
    font-size: 10px;
}
@media (max-width: 768px) { 
    .container1{
        flex-direction: column;
        justify-content: center;
    }
    .major{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .name{
        font-size:35px;
    }
    .para{
        font-size:20px;
        margin-bottom:20px;
    }
    .logo{
        height:20px;
        width:100px;
    }
    .button a{
        font-size:15px;
        width:75px;
        text-align: center;
    }
}
